@use 'sass:map';
@use '@/styles/variables/fonts.scss' as fonts;
@use '@/styles/variables/colors.scss' as colors;
@use '@/styles/variables/breakpoints' as *;

#home-intro {
   display: flex;
   flex-direction: column;

   .flex-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .content {
         width: 100%;
         max-width: 550px;

         .title {
            font-size: 4rem;
            font-weight: map.get(fonts.$weights, 'bold');
            color: colors.$black;
            line-height: 1.15em;
         }

         .paragraph {
            margin-top: 14px;
            margin-bottom: 30px;
         }

         .info-blocks {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 50px;
            padding-top: 30px;
            border-top: 1px solid rgba(colors.$black, 0.3);

            .block {
               padding: 20px 30px;
               display: flex;
               align-items: center;
               border-radius: 20px;

               .icon {
                  margin-right: 30px;
               }

               .block-content {
                  flex: 1;
                  color: colors.$white;
                  padding-top: 7px;

                  .label {
                     font-size: 0.938rem;
                     font-weight: map.get(fonts.$weights, 'medium');
                     margin-bottom: 6px;
                  }

                  .text {
                     font-size: 2.375rem;
                     font-weight: map.get(fonts.$weights, 'bold');

                     .text-small {
                        font-size: 1.25rem;
                     }
                  }
               }

               &.primary-bg {
                  background-color: colors.$primary;
               }

               &.secondary-bg {
                  background-color: colors.$secondary;
               }
            }
         }
      }

      .image {
         width: 100%;
         height: 498px;
         margin-left: 80px;
         flex: 1;

         .title {
            display: none;
         }
      }
   }

   .socials-wapper {
      margin-top: 25px;
      margin-left: auto;
   }
}

@include breakpoint('laptop') {
   #home-intro {
      .flex-wrapper {
         .content {
            max-width: 470px;

            .title {
               font-size: 4.375rem;
            }

            .paragraph {
               margin-bottom: 26px;
               margin-top: 12px;
            }

            .info-blocks {
               padding-top: 26px;
               grid-gap: 40px;

               .block {
                  padding: 18px 25px;

                  .icon {
                     margin-right: 25px;
                  }

                  .block-content {
                     padding-top: 7px;

                     .label {
                        font-size: 0.875rem;
                        margin-bottom: 5px;
                     }

                     .text {
                        font-size: 2.188rem;

                        .text-small {
                           font-size: 1rem;
                        }
                     }
                  }
               }
            }
         }

         .image {
            margin-left: 60px;
            height: 465px;
         }
      }

      .socials-wapper {
         margin-top: 23px;
      }
   }
}

@include breakpoint('small-desktop') {
   #home-intro {
      .flex-wrapper {
         .content {
            max-width: 370px;

            .title {
               font-size: 3.875rem;
            }

            .paragraph {
               margin-bottom: 20px;
               margin-top: 8px;
            }

            .socials {
               margin-bottom: 20px;
            }

            .info-blocks {
               padding-top: 20px;
               grid-gap: 30px;

               .block {
                  padding: 13px 22px;

                  .icon {
                     margin-right: 20px;
                  }

                  .block-content {
                     padding-top: 5px;

                     .label {
                        font-size: 0.813rem;
                        margin-bottom: 3px;
                     }

                     .text {
                        font-size: 1.876rem;

                        .text-small {
                           font-size: 0.938rem;
                        }
                     }
                  }
               }
            }
         }

         .image {
            margin-left: 50px;
            height: 410px;
         }
      }

      .socials-wapper {
         margin-top: 20px;
      }
   }
}

@include breakpoint('tablet') {
   #home-intro {
      .flex-wrapper {
         .content {
            max-width: 300px;

            .title {
               font-size: 3.438rem;
            }

            .paragraph {
            }

            .info-blocks {
               grid-gap: 20px;

               .block {
                  padding: 8px 17px;

                  .icon {
                     margin-right: 15px;
                  }

                  .block-content {
                     padding-top: 4px;

                     .label {
                        font-size: 0.75rem;
                     }

                     .text {
                        font-size: 1.563rem;

                        .text-small {
                           font-size: 0.875rem;
                        }
                     }
                  }
               }
            }
         }

         .image {
            margin-left: 30px;
            height: 390px;
         }
      }
   }
}

@include breakpoint('mobile') {
   #home-intro {
      .flex-wrapper {
         flex-direction: column-reverse;
         justify-content: flex-start;
         align-items: flex-start;

         .content {
            padding-top: 20px;
            max-width: 100%;

            .title {
               display: none;
            }

            .paragraph {
               margin-top: 0;
               font-size: 0.813rem;
            }

            .info-blocks {
               display: none;
            }
         }

         .image {
            display: block;
            width: 100%;
            justify-content: flex-start;
            margin-left: 0;

            .title {
               display: block;
               font-size: 1.563rem;
               margin-bottom: 15px;
               line-height: 1.3em;
            }
         }
      }

      .socials-wapper {
         margin-left: 0;
         margin-top: 0;
      }
   }
}
