@use '@/styles/variables/fonts.scss' as fonts;
@use '@/styles/variables/colors.scss' as colors;
@use '@/styles/variables/layout.scss' as layout;
@use '@/styles/variables/breakpoints' as *;

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 16px;
}

body {
   background: colors.$page-background;
   color: colors.$black;
}

img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}

input,
button,
textarea,
select {
   font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
   color: colors.$black;
   line-height: 1.5em;
}

a {
   text-decoration: none;
   color: colors.$black;
}

.primary-color {
   color: colors.$primary;
}

.secondary-color {
   color: colors.$secondary;
}

.section {
   margin-bottom: layout.$section-space;

   &:last-child {
      margin-bottom: 0;
   }
}

.desktop-hide {
   display: none;
}

@include breakpoint('laptop') {
   .section {
      margin-bottom: layout.$section-laptop-space;
   }
}

@include breakpoint('small-desktop') {
   .section {
      margin-bottom: layout.$section-small-desktop-space;
   }
}

@include breakpoint('tablet') {
   .section {
      margin-bottom: layout.$section-tablet-space;
   }
}

@include breakpoint('mobile') {
   .section {
      margin-bottom: layout.$section-mobile-space;
   }

   .desktop-hide {
      display: block;
   }

   .mobile-hide {
      display: none;
   }
}
