@use '@/styles/variables/colors.scss' as colors;
@use '@/styles/variables/layout.scss' as layout;
@use '@/styles/variables/breakpoints' as *;

.layout {
   position: relative;
   display: flex;
   justify-content: center;
   padding-bottom: 3px;

   .container {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      width: 100%;
      max-width: 1480px;
      padding-left: 90px;
      padding-right: 90px;
      padding-bottom: calc(layout.$section-space + 20px);
   }

   &::after {
      content: '';
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 3px;
      background-color: colors.$primary;
   }
}

@include breakpoint('laptop') {
   .layout {
      .container {
         max-width: 1200px;
         padding-left: 60px;
         padding-right: 60px;
         padding-bottom: calc(layout.$section-laptop-space + 20px);
      }
   }
}

@include breakpoint('small-desktop') {
   .layout {
      .container {
         max-width: 992px;
         padding-left: 40px;
         padding-right: 40px;
         padding-bottom: layout.$section-small-desktop-space;
      }
   }
}

@include breakpoint('tablet') {
   .layout {
      .container {
         max-width: 768px;
         padding-left: 30px;
         padding-right: 30px;
         padding-bottom: layout.$section-tablet-space;
      }
   }
}

@include breakpoint('mobile') {
   .layout {
      .container {
         padding-left: 15px;
         padding-right: 15px;
         padding-bottom: layout.$section-mobile-space;
      }
   }
}
