@use '@/styles/variables/fonts.scss' as fonts;
@use '@/styles/variables/colors.scss' as colors;
@use '@/styles/variables/breakpoints' as *;

.button {
   display: inline-block;
   font-size: 1.063rem;
   font-weight: map-get(fonts.$weights, 'regular');
   color: colors.$white;
   padding: 15px 45px;
   background-color: colors.$primary;
   transition: background-color fonts.$hoverTransitionSec;
   border-radius: 25px;

   &:hover {
      background-color: colors.$primary-hover;
   }
}

@include breakpoint('small-desktop') {
   .button {
      font-size: 1rem;
      padding: 13px 43px;
   }
}

@include breakpoint('mobile') {
   .button {
      font-size: 0.875rem;
      padding: 12px 38px;
   }
}
