@use '@/styles/variables/colors.scss' as colors;
@use '@/styles/variables/fonts' as fonts;
@use '@/styles/variables/breakpoints' as *;

.page-title {
   display: flex;
   font-size: 2.188rem;
   font-weight: map-get(fonts.$weights, 'medium');
   margin-bottom: 20px;

   &::before {
      content: '';
      display: block;
      width: 3px;
      height: 48px;
      border-radius: 3px;
      background-color: colors.$primary;
      margin-right: 22px;
   }
}
