@use '@/styles/variables/fonts.scss' as fonts;
@use '@/styles/variables/colors.scss' as colors;
@use '@/styles/variables/breakpoints' as *;

.home {
   display: flex;
   justify-content: space-between;
   align-items: center;

   .content {
      width: 100%;
      max-width: 515px;
      padding-top: 30px;

      .title {
         font-size: 3.125rem;
         font-weight: map-get(fonts.$weights, 'bold');
         color: colors.$primary;
         line-height: 1em;
         margin-top: 6px;
         margin-bottom: 6px;
      }

      .subtitle {
         font-size: 1.875rem;
         font-weight: map-get(fonts.$weights, 'medium');
      }

      .paragraph {
         margin-top: 15px;
         margin-bottom: 24px;
      }

      .socials {
         margin-bottom: 29px;
      }
   }

   .image {
      position: relative;
      display: flex;
      justify-content: flex-end;
      width: 488px;
      margin-left: 45px;
      margin-right: 28px;

      .circle-frame {
         position: absolute;
         left: 0;
         top: 32px;
         border-radius: 100%;
         width: 399px;
         height: 453px;
         overflow: hidden;
         box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);

         .avatar {
            min-width: 100%;
            min-height: 100%;
         }
      }

      .decorator {
         position: relative;
         filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.15));
         z-index: -1;
      }
   }
}

@include breakpoint('small-desktop') {
   .home {
      .content {
         max-width: 430px;
         padding-top: 13px;

         .title {
            font-size: 2.813rem;
         }

         .subtitle {
            font-size: 1.563rem;
         }

         .paragraph {
            margin-bottom: 22px;
         }

         .socials {
            margin-bottom: 27px;
         }
      }

      .image {
         margin-right: 0;
         width: 413px;
         margin-left: 65px;

         .circle-frame {
            top: 27px;
            width: 337px;
            height: 383px;
         }

         .decorator {
            svg {
               height: 421px;
               width: auto;
            }
         }
      }
   }
}

@include breakpoint('tablet') {
   .home {
      justify-content: center;

      .content {
         max-width: 515px;
         padding-top: 0;
      }

      .image {
         display: none;
      }
   }
}

@include breakpoint('mobile') {
   .home {
      flex-direction: column-reverse;
      justify-content: flex-start;

      .content {
         padding-top: 30px;

         .title {
            font-size: 1.563rem;
            margin-top: 4px;
            margin-bottom: 4px;
         }

         .subtitle {
            font-size: 1rem;
         }

         .paragraph {
            margin-top: 13px;
            margin-bottom: 19px;
         }

         .socials {
            margin-bottom: 21px;
         }
      }

      .image {
         display: block;
         width: 184px;
         justify-content: flex-start;
         margin-left: 0;

         .circle-frame {
            top: 12px;
            left: auto;
            right: 0;
            width: 151px;
            height: 171px;
            box-shadow: none;
         }

         .decorator {
            filter: none;

            svg {
               height: auto;
            }
         }
      }
   }
}
