@use 'sass:map';
@use '@/styles/variables/colors' as colors;
@use '@/styles/variables/fonts' as fonts;
@use '@/styles/variables/layout' as layout;
@use '@/styles/variables/breakpoints' as *;

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 27.5px 0;
   border-bottom: 1px solid rgba(colors.$black, 0.3);
   margin-bottom: layout.$section-space;

   .logo {
      font-size: 1.875rem;
      color: colors.$black;
      font-weight: map.get(fonts.$weights, 'medium');
      text-decoration: none;
   }

   .hamburger {
      display: none;
   }

   .nav {
      display: flex;
      align-items: center;

      #active-mark {
         position: absolute;
         left: -2px;
         top: -20px;
         width: 2px;
         height: 20px;
         background-color: colors.$primary;
         transition:
            transform 0.3s,
            top 0.1s 0.3s,
            opacity 0.1s;

         &.hide {
            opacity: 0;
         }
      }

      .container-link {
         padding: 3px 30px;

         &:first-child {
            padding-left: 12px;
         }

         &:last-child {
            padding-right: 0;
         }

         .nav-link {
            font-size: 1rem;
            line-height: 1em;
            color: colors.$black;
            text-decoration: none;
            transition: color fonts.$hoverTransitionSec;

            &:first-child {
               margin-left: 0;
            }

            &:hover {
               color: colors.$primary;
            }
         }
      }

      .container-link#wrapper-cv {
         padding-top: 0;
         padding-bottom: 0;
      }
   }
}

@include breakpoint('laptop') {
   .header {
      padding: 25px 0;
      margin-bottom: calc(layout.$section-laptop-space - 5px);

      .logo {
         font-size: 1.688rem;
      }

      .nav {
         .container-link {
            padding: 3px 25px;
         }
      }
   }
}

@include breakpoint('small-desktop') {
   .header {
      padding: 24px 0;
      margin-bottom: calc(layout.$section-small-desktop-space - 5px);

      .logo {
         font-size: 1.563rem;
      }

      .nav {
         #active-mark {
            height: 17px;
         }

         .container-link {
            padding: 3px 22px;

            .nav-link {
               font-size: 0.938rem;
            }
         }
      }
   }
}

@include breakpoint('tablet') {
   .header {
      margin-bottom: calc(layout.$section-tablet-space - 5px);

      .logo {
         font-size: 1.375rem;
      }

      .hamburger {
         position: relative;
         display: flex;
         justify-content: flex-end;
         align-items: center;
         width: 30px;
         height: 14px;
         cursor: pointer;

         .lines {
            display: block;
            background-color: colors.$primary;
            width: 23px;
            height: 2px;
            transition: width 0.1s linear;

            &::before,
            &::after {
               content: '';
               position: absolute;
               right: 0;
               height: 2px;
               background-color: colors.$primary;
               transition:
                  width 0.1s linear,
                  transform 0.3s linear 0.1s;
            }

            &::before {
               top: 0;
               width: 30px;
            }

            &::after {
               bottom: 0;
               width: 16px;
            }
         }

         &.open {
            width: 21px;

            .lines {
               width: 0;

               &::before {
                  width: 21px;
                  transform: translateY(6px) rotate(45deg);
               }

               &::after {
                  width: 21px;
                  transform: translateY(-6px) rotate(-45deg);
               }
            }
         }
      }

      .nav {
         position: fixed;
         width: 100%;
         top: 73px;
         left: -100%;
         height: calc(100vh - 73px);
         flex-direction: column;
         align-items: center;
         justify-content: center;
         transition: transform 0.6s;
         background-color: colors.$page-background;
         border-top: 1px solid rgba(51, 51, 51, 0.3);
         z-index: 9999999999999999;
         padding-bottom: 100px;

         #active-mark {
            display: none;
         }

         .container-link {
            padding: 0;
            margin-top: 32px;

            &#wrapper-home {
               margin-top: 0;
            }
         }

         &.open {
            transform: translateX(100%);
         }
      }
   }
}

@include breakpoint('mobile') {
   .header {
      background-color: colors.$page-background;
      padding-top: 19px;
      padding-bottom: 19px;
      margin-bottom: calc(layout.$section-mobile-space - 10px);

      .logo {
         font-size: 1rem;
      }

      .nav {
         top: 57px;
         height: calc(100vh - 57px);
         transition: transform 0.4s;
         padding-bottom: 100px;

         .container-link {
            padding: 0;
            margin-top: 32px;

            &#wrapper-home {
               margin-top: 0;
            }

            .nav-link {
               font-size: 0.938rem;
            }

            .button {
               border: 0;
               padding: 0;
               font-size: 0.938rem;
            }
         }
      }
   }
}
