@use 'sass:map';
@use '@/styles/variables/colors.scss' as colors;
@use '@/styles/variables/fonts' as fonts;
@use '@/styles/variables/breakpoints' as *;

.filters-text {
   display: none;
}

.filters {
   display: flex;
   margin-bottom: 40px;

   .option {
      font-size: 1.063rem;
      margin-left: 27px;
      font-weight: map.get(fonts.$weights, 'regular');
      padding: 12px 26px;
      color: colors.$black;
      background-color: colors.$white;
      border: 1px solid colors.$black;
      border-radius: 30px;
      cursor: pointer;
      transition: all fonts.$hoverTransitionSec;

      &:first-child {
         margin-left: 0;
      }

      &:hover {
         color: colors.$white;
         background-color: colors.$secondary;
         border: 1px solid rgba(colors.$black, 0.3);
      }
   }

   .active {
      color: colors.$white;
      background-color: colors.$secondary;
      border: 1px solid rgba(colors.$black, 0.3);
   }
}

@include breakpoint('laptop') {
   .filters {
      margin-bottom: 35px;

      .option {
         font-size: 0.938em;
         margin-left: 25px;
         padding: 10px 24px;
      }
   }
}

@include breakpoint('small-desktop') {
   .filters {
      margin-bottom: 32px;

      .option {
         font-size: 0.875em;
         margin-left: 22px;
         padding: 9px 22px;
      }
   }
}

@include breakpoint('tablet') {
   .filters-text {
      display: block;
      font-size: 0.875rem;
      margin-bottom: 15px;
   }

   .filters {
      margin-bottom: 10px;
      padding-bottom: 20px;
      overflow-x: auto;

      .option {
         font-size: 0.875em;
         margin-left: 18px;
         padding: 9px 20px;
         white-space: nowrap;
      }
   }
}
